{% extends 'base.html'%}

{% block title %}
  <title>Ajax</title>
{% endblock title %}

{% block content %}
<div class="container mt-3">

    <div class="text-center ">
        <h3><u>OUR MISSION</u></h3>
        <p>To provide the most actionable app store data</p>
        <br>
        <h4>About</h4>
    </div>
    <div>
        <p>Hello World! We at Ajax, come everyday and work to make better applications so that the users who uses our applications gets benefited a lot and makes the user problem solve. Publishers don't know what apps to build,how to monetize them,or even what to prize them.                                                                         </p>
        <p>Throughout the history of business,people use data to make more informed decision. Our mission at Ajax is to make app economy more transparent. Today we provide most actionable website through the industry </p>
    <h3>Thanks for visiting our website</h3>
    </div>

</div>
{% endblock %}
