{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
  <title>Login</title>
{% endblock title %}

{% block content %}
    <div class = 'container mt-3 '>
        <h5 style="color:red" class="ml-3">Login here</h5>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
         <form method="POST" class="col-6">
            {% csrf_token %}
            {{form|crispy}}
            <button class= "btn btn-primary mt-3" type="submit">Login</button>
        </form>
    </div>
{% endblock content %}